<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Calcio Trends - Contattaci</title>
    <link rel="icon" type="image/png" sizes="242x206" href="assets/img/removebg-3@2x.png">
    <link rel="icon" type="image/png" sizes="242x206" href="assets/img/removebg-3@2x.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="242x206" href="assets/img/removebg-3@2x.png">
    <link rel="icon" type="image/png" sizes="242x206" href="assets/img/removebg-3@2x.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="242x206" href="assets/img/removebg-3@2x.png">
    <link rel="icon" type="image/png" sizes="242x206" href="assets/img/removebg-3@2x.png">
    <link rel="icon" type="image/png" sizes="242x206" href="assets/img/removebg-3@2x.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend+Zetta&amp;display=swap">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/carousel-circulo.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark-icons.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form-.css">
    <link rel="stylesheet" href="assets/css/Chat.css">
    <link rel="stylesheet" href="assets/css/Simple-Bootstrap-Chat.css">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark">
        <div class="container-fluid"><a class="navbar-brand me-auto d-md-flex align-items-md-center" href="index.html" style="padding-top: 0;background: #00000000;font-family: 'Lexend Zetta', sans-serif;font-size: 30px;color: rgb(255,255,255);margin-right: 0px;">Calcio <img class="img-fluid" src="assets/img/removebg-3@2x.png" style="max-width: 20%;">Trends</a><button data-bs-toggle="collapse" class="navbar-toggler ms-auto collapsed" data-bs-target="#primaryNavbar" style="filter: invert(100%);"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-nowrap justify-content-center" id="primaryNavbar" style="font-size: 20px;color: rgb(255,255,255);">
                <ul class="navbar-nav ms-auto" style="color: #ffffff;">
                    <li class="nav-item"><a class="nav-link" href="index.html" style="color: #ffffff;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Players.ejs" style="color: rgb(255,255,255);">Players</a></li>
                    <li class="nav-item"><a class="nav-link" href="Teams.ejs" style="color: rgb(255,255,255);">Teams</a></li>
                    <li class="nav-item"><a class="nav-link" href="Matches.ejs" style="color: rgb(255,255,255);">Matches</a></li>
                    <li class="nav-item"><a class="nav-link" href="Championships.html" style="color: rgb(255,255,255);">Championships</a></li>
                    <li class="nav-item"><a class="nav-link" href="Chat.html" style="color: rgb(255,255,255);">Chat</a></li>
                    <li class="nav-item"><a class="nav-link" href="Info.html" style="color: var(--bs-body-bg);">Info</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row" style="margin-left: 0;margin-right: 0;">
        <div class="col" style="margin-left: 10%;margin-right: 10%;">
            <h1 class="mt-5">Contattaci</h1>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col">
                            <form>
                                <div class="form-group"><label class="form-label" for="name">Name &amp; Surname:</label><input class="form-control form-control" type="text" id="name" required=""></div>
                                <div class="form-group"><label class="form-label" for="email">Email:</label><input class="form-control form-control" type="email" id="email" required=""></div>
                                <div class="form-group"><label class="form-label" for="message">Message:</label><textarea class="form-control form-control" id="message" required="" rows="5"></textarea>
                                    <div class="row">
                                        <div class="col" style="padding-top: 12px;padding-bottom: 12px;"><button class="btn btn-primary" type="button" style="color: var(--bs-emphasis-color);background: var(--bs-btn-disabled-color);border-width: 3px;border-color: #437a4a;"><strong>Send Message</strong></button></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="contact-form"></div>
                </div>
                <div class="col-md-4 contact-info">
                    <h3 style="margin-bottom: 0;"><br>Email: calciotrends@gmail.com<br><br></h3>
                    <h4 style="margin-bottom: 0;"><br>Location: Turin, Italy</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div><!-- Start: Features Cards -->
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1>Features</h1>
                <p class="w-lg-50">Nel mare di opzioni ci disinguiamo per la nostra attenzione per i vostri feedback</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clipboard-data">
                                <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z"></path>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"></path>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"></path>
                            </svg></div>
                        <h4 class="card-title">Statistiche</h4>
                        <p class="card-text">Visione generale o dettagliata? Offriamo statistiche su tutto ciò che riguarda il mondo del calcio</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-people">
                                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"></path>
                            </svg></div>
                        <h4 class="card-title">Comunità</h4>
                        <p class="card-text">Offriamo un sistema di chatroom dedicato ad ogni argomento</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-universal-access-circle">
                                <path d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143m-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z"></path>
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8"></path>
                            </svg></div>
                        <h4 class="card-title">Accessibilità</h4>
                        <p class="card-text">Il nostro obiettivo è prsentare tutte le informazioni nel modo più intituitivo possibile</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End: Features Cards -->
    <footer class="d-xl-flex align-items-xl-end" style="background: var(--bs-body-color);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center" style="color: var(--bs-body-bg);margin-top: 8px;">Contact Us</h3>
                    <hr style="color: var(--bs-body-bg);">
                    <h4 class="text-center" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" style="color: var(--bs-body-bg);" title="Please don't contact us">Email: <a href="mailto:calcio@trends.com" target="_blank"><span style="color: rgb(255, 255, 255);">calcio@trends.com</span></a><br>or write us a message!</h4>
                </div>
                <div class="col align-self-center col-2" id="logo"><img class="img-fluid" src="assets/img/removebg-3@2x.png" style="max-height: 50%;"></div>
                <div class="col">
                    <h3 class="text-center" style="color: var(--bs-body-bg);margin-top: 8px;">Social</h3>
                    <hr style="color: var(--bs-body-bg);">
                    <div class="row">
                        <div class="col" style="text-align: center;"><img src="assets/img/facebook--negative.png"></div>
                        <div class="col" style="text-align: center;"><img src="assets/img/instagram--negative.png"></div>
                        <div class="col" style="text-align: center;"><img src="assets/img/twitter--negative.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>