<div class="login">
  <div class="login2">
    <img class="image-1" src="image-10.png" />
    <img class="image-2" src="image-20.png" />
    <div class="rectangle-1"></div>

    <!-- Converted to button -->
    <button class="accedi">Accedi</button>

    <div class="frame-2">
      <img class="google-svg" src="google-svg0.svg" />
      <div class="facebook-svg">
        <img class="g-10" src="g-100.svg" />
      </div>
    </div>

    <!-- Converted to button -->
    <button class="password-dimenticata">Password dimenticata ?</button>

    <div class="rectangle-5"></div>

    <!-- Converted to button -->
    <button class="accedi2">Accedi</button>

    <div class="rectangle-52"></div>

    <!-- Converted to button -->
    <button class="registrati">Registrati</button>

    <!-- Converted to input fields -->
    <div class="component-2">
      <input type="password" class="password" placeholder="Password">
    </div>

    <!-- Converted to input fields -->
    <div class="component-3">
      <input type="email" class="e-mail" placeholder="E-Mail">
    </div>

    <div class="eye">
      <img class="eye-1" src="eye-10.png" />
    </div>
  </div>
  <div class="oppure">Oppure</div>
  <div class="line-1"></div>
  <div class="line-2"></div>
</div>