.remove-bg-3-icon {
  height: 100%;
  width: 121px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 268px;
  max-height: 100%;
  object-fit: cover;
}
.calcio-trends {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  white-space: pre-wrap;
  flex-shrink: 0;
  z-index: 1;
}
.logo-series-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.search-1-1 {
  position: absolute;
  top: 2px;
  right: 0;
  width: 44px;
  height: 44px;
  object-fit: contain;
}
.search-bar {
  align-self: stretch;
  height: 48px;
  position: relative;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.25);
  overflow: hidden;
  flex-shrink: 0;
}
.search-bar-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9px 0 0;
}
.squadre-home-child {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid #5d5d5d;
  box-sizing: border-box;
}
.squadre-home {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.user-icon {
  height: 44px;
  width: 44px;
  position: relative;
  object-fit: cover;
}
.login {
  position: relative;
  display: inline-block;
  min-width: 64px;
}
.juventus-box {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.frame-wrapper,
.juventus-box,
.user-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-parent {
  flex-direction: row;
  gap: var(--gap-mini);
}
.frame-wrapper {
  flex-direction: column;
  padding: 4px 0 0;
}
.frame-parent,
.prima-navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  height: 50px;
  width: 375px;
  justify-content: flex-start;
  gap: 10px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-open-sans);
}
.prima-navbar {
  align-self: stretch;
  justify-content: space-between;
  padding: 11px 43px 29px 54px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-lexend-zetta);
}
.home1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.home {
  width: 109px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
}
.squadre2 {
  margin: 0 !important;
  width: 133.7px;
  position: absolute;
  right: -22.5px;
  bottom: -4px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.squadre1 {
  height: 30px;
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.calciatori1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.calciatori {
  height: 30px;
  width: 133px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.competizione1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.competizione {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px;
  box-sizing: border-box;
}
.contattaci1 {
  margin: 0;
  height: 30px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.contattaci {
  width: 131px;
  justify-content: flex-start;
}
.contattaci,
.contattaci-container,
.contattaci-container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.contattaci-container {
  width: 1156px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.contattaci-container-wrapper {
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.contattaci-container-wrapper,
.logo-serie-a,
.nav-bar-p {
  align-self: stretch;
  max-width: 100%;
}
.nav-bar-p {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 26px;
  box-sizing: border-box;
  gap: 66px;
  z-index: 2;
}
.logo-serie-a {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.squadre3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.platforms-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.frame-child {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.rectangle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.atalanta {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.atalanta-wrapper,
.frame-group {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.atalanta-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-77xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.atalanta-container:hover,
.atalanta-frame:hover,
.atalanta-wrapper1:hover,
.atalanta-wrapper2:hover,
.atalanta-wrapper3:hover,
.atalanta-wrapper4:hover,
.atalanta-wrapper:hover,
.frame-button:hover,
.juventus-container:hover,
.juventus-wrapper11:hover,
.juventus-wrapper13:hover,
.juventus-wrapper15:hover,
.juventus-wrapper17:hover,
.juventus-wrapper19:hover,
.juventus-wrapper1:hover,
.juventus-wrapper21:hover,
.juventus-wrapper3:hover,
.juventus-wrapper5:hover,
.juventus-wrapper7:hover,
.juventus-wrapper9:hover {
  background-color: var(--color-darkolivegreen-100);
}
.frame-group {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.frame-item {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.rectangle-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.atalanta1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.atalanta-container,
.frame-container {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.atalanta-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-77xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-container {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.frame-inner {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.rectangle-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.atalanta2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.atalanta-frame,
.frame-div {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.atalanta-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-77xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-div {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.rectangle-icon {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.rectangle-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.atalanta3 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.frame-button,
.frame-parent1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-77xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent1 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.frame-child1 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.rectangle-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.atalanta4 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 76px;
}
.atalanta-wrapper1,
.frame-parent2 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.atalanta-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent2 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.frame-child2 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.rectangle-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.atalanta5 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 75px;
}
.atalanta-wrapper2,
.frame-parent3 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.atalanta-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent3 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.frame-child3 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.rectangle-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.atalanta6 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 50px;
}
.atalanta-wrapper3,
.frame-parent4 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.atalanta-wrapper3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent4 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.frame-child4 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.rectangle-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.atalanta7 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 35px;
}
.atalanta-wrapper4,
.frame-parent5 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.atalanta-wrapper4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent5 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 69px;
}
.frame-parent6,
.juventus-container {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent6 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon1 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus1 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 41px;
}
.frame-parent7,
.juventus-wrapper1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent7 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon2 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus2 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 46px;
}
.frame-parent8,
.juventus-wrapper3 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent8 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon3 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus3 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 41px;
}
.frame-parent9,
.juventus-wrapper5 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent9 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon4 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus4 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 51px;
}
.frame-parent10,
.juventus-wrapper7 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent10 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon5 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus5 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 48px;
}
.frame-parent11,
.juventus-wrapper9 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent11 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon6 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus6 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 43px;
}
.frame-parent12,
.juventus-wrapper11 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent12 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon7 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus7 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 85px;
}
.frame-parent13,
.juventus-wrapper13 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper13 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent13 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon8 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus8 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 69px;
}
.frame-parent14,
.juventus-wrapper15 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent14 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon9 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus9 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 48px;
}
.frame-parent15,
.juventus-wrapper17 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper17 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent15 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon10 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus10 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 62px;
}
.frame-parent16,
.juventus-wrapper19 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.juventus-wrapper19 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.frame-parent16 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.juventus-icon11 {
  height: 162px;
  width: 162px;
  position: relative;
  object-fit: cover;
}
.juventus-wrapper20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl);
}
.juventus11 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 104px;
}
.juventus-wrapper21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-xl);
  background-color: var(--color-darkolivegreen-200);
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.frame-parent17 {
  width: 266px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen-300);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-12xl-5) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-12xl-5);
}
.frame-parent17,
.instance-parent,
.platforms-icons-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 29px;
  min-height: 1520px;
}
.platforms-icons-parent {
  width: 1244px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl) 44px 36px;
  box-sizing: border-box;
  gap: 73px;
  max-width: 100%;
  z-index: 1;
}
.elenco-squadre,
.logo-serie-a-parent {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.elenco-squadre {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.logo-serie-a-parent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 127px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: #335d3e;
  font-family: var(--font-open-sans);
}
.rectangle-div {
  height: 473px;
  width: 1440px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.contattaci2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.contattaci-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.line-div {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent18 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-8);
  min-width: 309px;
  max-width: 100%;
}
.remove-bg-3-icon1 {
  width: 121px;
  height: 123px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.remove-bg-3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5.7px 0 0;
  align-self: center;
}
.social-media-links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 59px;
  max-width: 100%;
}
.e-mail-esempioesempiocom,
.oppure,
.scrivici-un-messaggio {
  margin: 0;
}
.e-mail-esempioesempiocom-op-container {
  margin: 0;
  height: 159px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.e-mail-esempioesempiocom-op-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 61px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -36.3px;
  font-size: var(--font-size-5xl);
}
.social-media-links-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 426px;
  max-width: 100%;
}
.social {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 87px;
  z-index: 1;
}
.container-contact {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.frame-child5 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  z-index: 1;
}
.container-contact-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-8);
}
.facebook-negative,
.instagram-negative,
.twitter-negative {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 48px;
  z-index: 1;
}
.facebook-negative-parent,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.facebook-negative-parent {
  width: 272px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper1 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.frame-parent19 {
  flex: 1;
  flex-direction: column;
  gap: 79.2px;
  min-width: 475px;
  max-width: 100%;
}
.frame-parent19,
.rectangle-parent,
.sfondo,
.sfondo-inner,
.squadre {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  flex: 1;
  background-color: var(--color-black);
  flex-direction: row;
  padding: 117.3px 125px 104.3px;
  box-sizing: border-box;
  gap: 60px;
  max-width: 100%;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
  font-family: var(--font-open-sans);
}
.sfondo,
.sfondo-inner,
.squadre {
  overflow: hidden;
}
.sfondo-inner {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  z-index: 1;
}
.sfondo,
.squadre {
  flex-direction: column;
}
.sfondo {
  align-self: stretch;
  background-color: #437a4a;
  gap: 222px;
  max-width: 100%;
  margin-top: -4px;
}
.squadre {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1200px) {
  .platforms-icons-parent {
    padding: var(--padding-5xl) var(--padding-3xl) 23px;
    box-sizing: border-box;
  }
  .frame-parent19 {
    flex: 1;
  }
  .rectangle-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .logo-series-a {
    display: none;
  }
  .squadre3 {
    font-size: var(--font-size-13xl);
  }
  .platforms-icons-parent {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .contattaci2,
  .social {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 750px) {
  .prima-navbar {
    padding-left: 27px;
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .contattaci-container {
    flex-wrap: wrap;
  }
  .nav-bar-p {
    gap: 33px;
  }
  .platforms-icons-parent {
    gap: 36px;
  }
  .logo-serie-a-parent {
    gap: 63px;
  }
  .social-media-links {
    flex-wrap: wrap;
    gap: 29px;
  }
  .e-mail-esempioesempiocom-op-wrapper {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .social-media-links-parent {
    min-width: 100%;
  }
  .frame-parent19 {
    gap: 40px;
    min-width: 100%;
  }
  .rectangle-parent {
    gap: 30px;
    padding: var(--padding-5xl) 62px 68px;
    box-sizing: border-box;
  }
  .sfondo {
    gap: 111px;
  }
}
@media screen and (max-width: 450px) {
  .home1 {
    font-size: var(--font-size-lgi);
  }
  .calciatori1,
  .competizione1,
  .contattaci1,
  .squadre2 {
    font-size: var(--font-size-xl);
  }
  .nav-bar-p {
    gap: var(--gap-base);
  }
  .squadre3 {
    font-size: var(--font-size-5xl);
  }
  .atalanta-wrapper,
  .rectangle-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-group {
    gap: var(--gap-base);
  }
  .atalanta-container,
  .rectangle-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-container {
    gap: var(--gap-base);
  }
  .atalanta-frame,
  .rectangle-frame {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-div {
    gap: var(--gap-base);
  }
  .frame-button,
  .rectangle-wrapper1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent1 {
    gap: var(--gap-base);
  }
  .rectangle-wrapper2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent2 {
    gap: var(--gap-base);
  }
  .rectangle-wrapper3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent3 {
    gap: var(--gap-base);
  }
  .rectangle-wrapper4 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent4 {
    gap: var(--gap-base);
  }
  .rectangle-wrapper5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent5 {
    gap: var(--gap-base);
  }
  .juventus-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent6 {
    gap: var(--gap-base);
  }
  .juventus-frame {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent7 {
    gap: var(--gap-base);
  }
  .juventus-wrapper2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent8 {
    gap: var(--gap-base);
  }
  .juventus-wrapper4 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent9 {
    gap: var(--gap-base);
  }
  .juventus-wrapper6 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent10 {
    gap: var(--gap-base);
  }
  .juventus-wrapper8 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent11 {
    gap: var(--gap-base);
  }
  .juventus-wrapper10 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent12 {
    gap: var(--gap-base);
  }
  .juventus-wrapper12 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent13 {
    gap: var(--gap-base);
  }
  .juventus-wrapper14 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent14 {
    gap: var(--gap-base);
  }
  .juventus-wrapper16 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent15 {
    gap: var(--gap-base);
  }
  .juventus-wrapper18 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent16 {
    gap: var(--gap-base);
  }
  .juventus-wrapper20 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent17 {
    gap: var(--gap-base);
  }
  .platforms-icons-parent {
    gap: 18px;
  }
  .logo-serie-a-parent {
    gap: 32px;
  }
  .contattaci2,
  .e-mail-esempioesempiocom-op-container,
  .social {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent {
    gap: var(--gap-mini);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sfondo {
    gap: 55px;
  }
}
